
<div class="container">
    <div class="row">
        <div class="col align-self-center text-center">
                <h1 >Online Test Application</h1>
                <hr class="hr-text">
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <p>“There are no secrets to success. It is the result of preparation, hard work, and learning from failure.”</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      <cite title="Source Title">All The Best.</cite>
                    </figcaption>
                  </figure>
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-success" routerLink="/quizEntryPage">Get Started</button>
                  </div>
           
        </div>
        <div class="col" >
            <img src="/assets/onlineTest.jpg" class="img-fluid" alt="image">
        </div>
    </div>
</div>
