<div class="jumbotron">
    <h1 class="d-flex justify-content-center"><strong>Score Card</strong></h1>
    <hr class="d-flex justify-content-center ">
	<p style="text-align: center;">See your score card on clicking below button.</p>
	<div class="d-flex justify-content-center reviewButtonDiv"> 
		<a class="btn btn-success " data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="Review()">
			Review & Result
		</a></div>
   
</div>

<div class="container scroller" #scroller1 *ngIf="!isShowDivIf" >
    <div class="card card-body">
		<div style="background-color: #85C1E9 ;padding:10px;"><h3>Your Score:&nbsp;{{point}}/100</h3></div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Questions</th>
					<th scope="col">Correct Answer</th>
					<th scope="col">Your Answer</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = 'let item of filecontent'>
					<th scope="row">{{item.questionid}}</th>
					<td>{{item.questionidtext}}</td>
					<td>{{item.answer}}</td>
					<td [ngClass]="{greenClass: item.col, redClass: !item.col}">{{item.uans}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>